
h1 {
    font-weight: bold;
    color: blue;
    font-family: Arial, sans-serif;
    font-size: 18pt;
}

p {
    font-style: italic;
    color: purple;
    font-family: Arial, sans-serif;
    font-size: 14pt;
}

a {
    font-style: italic;
    text-decoration: none;
    color: green;
}
